<div id="frame" class="{{frequency}}">
    <!--button id="added-label"
     {{#unless added}}style="display:none"{{/unless}}>ADDED</button>
    <button id="add-button"
     {{#if added}}style="display:none"{{/if}}>ADD</button-->
    <button id="added-label" {{#unless added}}style="display:none"{{/unless}}>
        <i class="fa fa-check"></i>
    </button>
    <button id="add-button" {{#if added}}style="display:none"{{/if}}>
        <i class="fa fa-plus"></i>
    </button>
  <div id="word-frame">

    {{! Display reading corresponding to main word }}

    <div id="main-reading">
      {{#if wordsAndReadings.[0].word.length}}
        {{wordsAndReadings.[0].reading}}
      {{/if}}
    </div>

    {{! Display main word. If there is only a reading, use it as main word }}

    <div id="main-word">
      {{#if wordsAndReadings.[0].word.length}}
        {{eachLetter wordsAndReadings.[0].word}}
      {{else}}
        {{wordsAndReadings.[0].reading}}
      {{/if}}
    </div>
  </div>
  <div id="meanings-frame">

    {{! Process meanings of this word }}

    {{#each meanings}}
      {{#if partsOfSpeech.length}}
        <div class="part-of-speech">{{join partsOfSpeech ", "}}</div>
      {{/if}}
      <div class="meaning">
        {{#ifLargerThanOne ../meanings.length}}
          <span class="number">{{inc @index 1}}.</span>
        {{/ifLargerThanOne}}
        <span class="translations">{{join translations "; "}}</span>
        {{#each fieldsOfApplication}}<span>{{this}}</span>{{/each}}
        {{#each dialect}}<span>{{this}}</span>{{/each}}
        {{#each miscInfo}}<span>{{this}}</span>{{/each}}
        {{#if restrictedTo.length}}
          <span>Only applies to {{join restrictedTo " and "}}</span>
        {{/if}}
      </div>
    {{/each}}

    {{! Process variants of this word (Words and readings after first one)}}

    {{#ifLargerThanOne wordsAndReadings.length}}
      <div id="variants">
        <span id="variant-header">Variants:</span>
        {{#each wordsAndReadings}}
          {{#if @index}}
            <span class="variant">
              {{#if this.word.length}}
                <span class="word">
                  {{eachLetter word}}
                </span>
                <span class="reading">
                  【{{this.reading}}】{{#unless @last}}、{{/unless}}
                </span>
              {{else}}
                <span class="word">
                  {{this.reading}} {{#unless @last}}、{{/unless}}
                </span>
              {{/if}}
            </span>
          {{/if}}
        {{/each}}
      </div>
    {{/ifLargerThanOne}}
  </div>
</div>
