<div id="frame" class="{{entryClass}}{{#if fontFamily}} {{fontFamily}}{{/if}}">
    <button id="added-label" {{#unless added}}style="display:none"{{/unless}}>
        <i class="fa fa-check"></i>
    </button>
    <button id="add-button" {{#if added}}style="display:none"{{/if}}>
        <i class="fa fa-plus"></i>
    </button>
  <div id="word-frame" {{#if pinyin}}class="with-pinyin"{{/if}}>

    {{! Display reading corresponding to main word }}

    <span id="main-reading">
      {{#if pinyin}}
        {{#each pinyin}}
          <span {{#if ../colorByTones}}class="tone{{this.tone}}"{{/if}}>
            {{~this.pinyin~}}
          </span>
        {{/each}}
      {{else}}
        {{#if wordsAndReadings.[0].word.length}}
          {{wordsAndReadings.[0].reading}}
        {{/if}}
      {{/if}}
    </span>

    {{! Display main word. If there is only a reading, use it as main word }}

    <div id="main-word">
      {{#if wordsAndReadings.[0].word.length}}
        {{#if pinyin}}
          {{eachHanziWithPinyin wordsAndReadings.[0].word pinyin colorByTones}}
        {{else}}
          {{eachLetter wordsAndReadings.[0].word}}
        {{/if}}
      {{else}}
        {{wordsAndReadings.[0].reading}}
      {{/if}}
    </div>

    {{! Display information about the occurrance frequency of this entry }}

    <div id="entry-info">
      {{#if common}}<span class="commonness">Common</span>{{/if}}
      {{#if jlptLevel}}<span class="jlpt-level">{{jlptLevel}}</span>{{/if}}
      {{#if hskLevel}}<span class="hsk-level">{{hskLevel}}</span>{{/if}}
      {{#if newsRank}}<span class="news-rank">{{newsRank}}</span>{{/if}}
      {{#if bookRank}}<span class="book-rank">{{bookRank}}</span>{{/if}}
      {{#if netRank}}<span class="net-rank">{{netRank}}</span>{{/if}}
    </div>

  </div>
  <div id="meanings-frame" {{#if pinyin}}class="with-pinyin"{{/if}}>

    {{! Process meanings of this word }}

    {{#each meanings}}
      {{#if partsOfSpeech.length}}
        <div class="part-of-speech">{{join partsOfSpeech ", "}}</div>
      {{else if @first}}
        <div class="part-of-speech placeholder">Placeholder</div>
      {{/if}}
      <div class="meaning">
        {{#ifLargerThanOne ../meanings.length}}
          <span class="number">{{inc @index 1}}.</span>
        {{/ifLargerThanOne}}
        <span class="translations">
          {{~#each translations~}}
            {{~#if ../../isChinese~}}
              <span class="translation">
                {{~convertRefs this ../../useTraditionalHanzi~}}
              </span>
            {{~else~}}
              <span class="translation">{{this}}</span>
            {{~/if~}}
            {{~#unless @last~}}
              <span class="sep">;</span>
            {{/unless}}
          {{~/each~}}
        </span>
        {{#each fieldsOfApplication}}<span>{{this}}</span>{{/each}}
        {{#each dialect}}<span>{{this}}</span>{{/each}}
        {{#each miscInfo}}<span>{{this}}</span>{{/each}}
        {{#if restrictedTo.length}}
          <span>Only applies to {{join restrictedTo " and "}}</span>
        {{/if}}
      </div>
    {{/each}}

    {{! Process classifiers (for Chinese) }}

    {{#if classifiers.length}}
      <div id="classifiers-frame">
        <div id="classifiers-header">Classifiers:</div>
        <div id="classifiers">
        {{#each classifiers}}
          {{eachHanziWithPinyin this.hanzi this.pinyin ../colorByTones}}
          <span data-reading="{{this.pinyin.[0].raw}}"
                class="pinyin reading tone{{this.pinyin.[0].tone}}">
            ({{~this.pinyin.[0].pinyin~}})
          </span>{{#unless @last}},{{/unless}}
        {{/each}}
        </div>
      </div>
    {{/if}}

    {{! Process variants of this word (Words and readings after first one)}}

    {{#ifLargerThanOne wordsAndReadings.length}}
      <div id="variants">
        <span id="variant-header">Variants:</span>
        {{#each wordsAndReadings}}
          {{#if @index}}
            <span class="variant">
              {{#if this.type}}
                <span class="variant-type">({{this.type}})</span>
              {{/if}}
              {{#if this.word.length}}
                <span class="word" data-word="{{this.word}}">
                  {{eachLetter word}}
                </span>
                {{#if this.reading}}
                  <span class="reading"
                      data-reading="{{~#if this.rawReading~}}{{this.rawReading}}
                        {{~else~}}{{this.reading}}{{~/if~}}">
                    【<span class="reading-inner">{{this.reading}}</span>】
                    {{~#unless @last~}}、{{/unless}}
                  </span>
                {{/if}}
              {{else}}
                <span class="word">
                  {{this.reading}} {{#unless @last}}、{{/unless}}
                </span>
              {{/if}}
            </span>
          {{/if}}
        {{/each}}
      </div>
    {{/ifLargerThanOne}}
  </div>
</div>
