<tr {{#if settings.hidden}}class="hidden"{{/if}}>
  <td>{{language}}</td>
  <td>{{settings.secondary}}</td>
  <td>
    {{#if interactiveMode}}
      <check-box class="readings-checkbox"
       {{#if settings.readings}}checked{{/if}}></check-box>
    {{else}}
      {{#if settings.readings}}Yes{{else}}No{{/if}}
    {{/if}}
  </td>
  <td>
    {{#if interactiveMode}}
      <button class="scheme-button link">{{settings.srs.scheme}}</button>
    {{else}}
      {{settings.srs.scheme}}
    {{/if}}
  </td>
  {{#if interactiveMode}}
    <td>
      <div class="pulsating-triple-dots connecting-spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <div class="content-download-progress-frame">
        <progress class="content-download-progress-bar"></progress>
        <span class="content-download-progress-label contrast"></span>
      </div>
      <div class="content-load-status-frame">
        <button class="content-load-status-label link">Load</button>
        <span class="program-update-required-icon icon" data-tooltip-pos="left"
              data-tooltip="The available language data is incompatible
with the currently used version of the program.
To use the data, please update the program first.">
          <i class="fa fa-warning"></i>
        </span>
        <span class="content-update-required-icon icon" data-tooltip-pos="left"
              data-tooltip="The available language data is incompatible
with the currently used version of the program.
Please download the latest language data.">
          <i class="fa fa-warning"></i>
        </span>
      </div>
      <div class="content-status-label-frame">
        <span class="content-status-label"></span>
        <span class="program-update-recommended-icon icon" data-tooltip-pos="left"
              data-tooltip="Certain updates require a newer program version.
To download these, please upgrade the program first.">
          <i class="fa fa-info-circle"></i>
        </span>
      </div>
    </td>
    {{#if interactiveMode}}
    <td class="hide-button-cell"><button class="hide-button light no-shadow"><i class="fa fa-eye"></i></button></td>
    {{/if}}
  {{/if}}
  {{#unless interactiveMode}}
    <td><button class="remove-button red-icon"><i class="fa fa-remove"></i></button></td>
  {{/unless}}
</tr>
