<div class="row-frame">
  <div class="language-label">{{language}}</div>
  <div class="subrow" data-language="{{language}}">
    {{#each amounts}}
      {{#if @index}}
        <div data-level="{{@index}}">
         <div class="total">{{#if total}}{{total}}{{/if}}</div>
         <div class="due highlighted">{{#if due}}{{due}}{{/if}}</div>
        </div>
      {{else}}
        <div class="all-items">
          <div class="total">{{total}}</div>
          <div class="due{{#if due}} highlighted{{/if}}">{{due}}</div>
        </div>
      {{/if}}
    {{/each}}
  </div>
</div>
