<div class="row-frame">
  <div class="language-label">{{language}}</div>
  <div class="subrows-frame">
    <div class="subrow all-items">
      {{#each amounts}}
        {{#if @index}}
          <div>{{#if total}}{{total}}{{/if}}</div>
        {{else}}
          <div>{{total}}</div>
        {{/if}}
      {{/each}}
    </div>
    <div class="subrow">
      {{#each amounts}}
        {{#if @index}}
          <div {{#if due}}class="highlighted"{{/if}}>
            {{#if due}}{{due}}{{/if}}
          </div>
        {{else}}
          <div {{#if due}}class="highlighted"{{/if}}>
            {{due}}
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</div>
