<div data-name="{{name}}" data-mode="{{mode}}" data-part="{{part}}">
  <div class="mistake-info">
    <div class="name">{{name}}</div>
    {{#if modeLabel}}
      <div class="mode">{{modeLabel}}</div>
    {{/if}}
    <div class="flex-spacer"></div>
    <i class="fa caret"></i>
  </div>
  <ul class="solutions" style="display:none"></ul>
</div>
